/* CSS Reset */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Variables */
:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: black;
    --link-hover-color: white;
    --navbar-color: rgb(61, 35, 35);
    --navbar-height: 10vh;
    --home-height: 75vh;
    --navbar-item-padding: 20px;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    height: var(--navbar-height);
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    top: 0;
    left: 0;
    z-index: 100;
}

#navbar::before {
    content: '';
    position: absolute;
    background-color: var(--navbar-color);
    width: 100%;
    height: var(--navbar-height);
    z-index: -1;
    opacity: 0.5;
}

/* Navbar Logo */
#logo {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 0 var(--navbar-item-padding);
}

#logo img {
    height: 4rem;
}

/* Navbar List */
#navbar ul {
    display: flex;
    align-self: stretch;
}

#navbar ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 var(--navbar-item-padding);
    /* font-weight: bold; */
}

#navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.274);
    cursor: pointer;
}

/* Navbar Links */
#navbar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--primary-color);
}

/* #navbar ul li:hover a {
    color: var(--link-hover-color);
} */

/* Home */
.home {
    display: flex;
    flex-direction: column;
    padding: 20px 350px;
    justify-content: center;
    align-items: center;
    height: var(--home-height);
}

.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(var(--home-height)+120vh);
    background: url(../images/bg/bg1.jpg) no-repeat center center/cover;
    z-index: -4;
}

.home .primary-heading {
    color: var(--primary-color);
}

.home p {
    color: var(--primary-color);
    text-align: center;
}

/* Services */
.services-container {
    background-color: var(--primary-color);
    margin-bottom: 30px;
}

.services-container .primary-heading {
    margin: 0;
}

.services {
    display: flex;
    padding: 10px;
}

.services .box {
    background-color: rgba(175, 47, 47, 0.185);
    border: 2px solid var(--navbar-color);
    margin: 20px;
    border-radius: 10px;
}

.services .box img {
    height: 16vh;
    display: block;
    margin: 10px auto;
}

.box p {
    padding: 0px 20px 20px 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

/* Clients */
.client-section {
    background-color: var(--primary-color);
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(199 190 190);
    position: relative;
}

.clients {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.clients img {
    height: 5rem;
    padding: 1.5rem;
    overflow: hidden;
}

/* Contact Section */
.contact {
    position: relative;
}

.contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/bg/contact.jpg) no-repeat center center/cover;
    opacity: 0.6;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#contact-box form {
    width: 30%;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border-style: none;
}

#contact-box textarea {
    resize: none;
}



#contact-box label {
    font-size: 1.1rem;
}

#contact-box .btn {
    width: 35%;
}

#contact-box .btn:hover {
    border-style: none;
}

/* Footer */
footer div {
    text-align: center;
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
}

/* Utility Classes */
.primary-heading {
    display: block;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
}


.secondary-heading {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.btn {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ff3300;
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top: 3rem;
}

.btn:hover {
    background-color: #5ebd03;
}